.blog__img img {
  border-radius: 12px;
}

@media screen and (max-width: 720px) {
  .blog__text {
    margin: 15px 0;
  }
}

.blog__div {
  text-align: left;
  margin-right: 6px;
}

.mute {
  color: #4f4f4f;
  font-weight: 500;
}

.wrapper__right__item__flex__blog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  margin: 20px 0;
  border-bottom: 1px solid #e0e0e0;
}

@media screen and (max-width: 720px) {
  .wrapper__right__item__flex__blog {
    display: block;
    margin-right: 20px;
  }

  .wrapper__right__item__flex__blog img {
    width: 100%;
  }
}
.bold {
  font-weight: 700;
}
